/* google fonts set */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}




nav {
    display: flex;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul li {
    list-style: none;

}
<<<<<<< HEAD

nav li a {
    text-decoration: none;
    font-size: 20px; 
}
=======

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
>>>>>>> 291bacca4ecce21ae5c605655a915c470ec61b65