.mahir {
    flex: auto;
    background-color: aqua;
    width: 220px;
    height: 150px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
.mahir img {
    width: 70px;
    height: 70px;
   
   
}